* {
  border: none;
  border-radius: 0;
  font-family: "Iosevka Nerd Font", monospace;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background-color: #16181a;
  color: #d3d7dc;
  border-bottom: 2px solid #282c30;
}

#workspaces button {
  padding: 0 8px;
  background-color: transparent;
  color: #8f99a3;
}

#workspaces button.active {
  color: #ffffff;
  border-bottom: 2px solid #8f99a3;
}

#workspaces button.focused {
  background-color: #1e2124;
}

#window,
#tray,
#pulseaudio,
#network,
#battery,
#clock {
  padding: 0 10px;
  color: #d3d7dc;
}

tooltip {
  background: #1e2124;
  border: 1px solid #8f99a3;
}

tooltip label {
  color: #d3d7dc;
}
